/* GLOBALS */
/* ---------------------------------------------------------------- */
body {background: #BDD2E8; font-family: Ubuntu Mono, Open Sans;  color: #333; height: 100%; border-bottom: 9px solid #AEC126; padding-bottom: 20px; }
article {padding: 20px 280px 20px; margin-top: -4px; clear: both; border-bottom: 4px solid #DAE9F7; overflow: auto;}
#wrapper article:last-of-type, #wrapper article:first-of-type {border-bottom: none;}

a {text-decoration: none; padding-bottom: 2px; border-bottom: 1px solid #333;}
a, a:active, a:visited {color: #333;}
a:hover {color: #AEC126; border-bottom: 1px solid #AEC126;}

h2 {font-size: 36px;}
p {font-size: 18px; line-height: 24px;}
cite {font-size: 12px; font-weight: 300; float: right; font-style: normal; }


ul {list-style: none; margin: 0px; padding: 0px;}
li {max-width: 800px;}

.next-prev {margin: 20px 0px;}

.highlight {padding: 20px; background: #DAE9F7;}

::selection {background: #AEC126;}
::-moz-selection {background: #AEC126;}

.list li {margin: 12px 0px 6px 17px; line-height: 20px;}
.list {list-style: disc !important; width: 600px;}


/* INTRO */
/* ---------------------------------------------------------------- */
ul.top-nav {display: inline;}
.top-nav li {display: inline; margin: 8px;}
.top-nav li:first-child {margin-left: 0px;}
#intro {background-image: url('../two.png'); background-repeat: no-repeat; height: 860px; max-width: 1440px; padding-right: 180px;}
#intro h3 {font-weight: 300;}
header {float: right; margin-top: 100px; color: #fff; }
header a {text-decoration: none; padding-bottom: 2px; border-bottom: 1px solid #fff;}
header a, header a:active, header a:visited {color: #fff;}
header a:hover {color: #AEC126; border-bottom: 1px solid #AEC126;}


/* WHAT */
/* ---------------------------------------------------------------- */
#what {top: 1000px;}
#what img {float: left; padding-right: 50px;}


/* EXAMPLES */
/* ---------------------------------------------------------------- */
#gallery {top: 2000px;}
#imgWrapper {padding: 20px 0px; overflow: auto;}
#imgWrapper img {border: 6px solid #DAE9F7; margin-bottom: 6px;}
#imgWrapper img:hover {border: 6px solid #AEC126; margin-bottom: 6px;}

#imgWrapper a {border: none; padding: 0px;}

.exampleItem {display: inline-block; position: relative; margin: 0px 18px 34px 0px;  }
.exampleItem cite {float: left; position: absolute;  }

/* MODULES */
/* ---------------------------------------------------------------- */
#modules ul {width: 400px;}
#modules h3, #how h3 {background: #333; padding: 8px 10px; color: #BDD2E8; font-weight: 300; margin: 30px 0px;}

.itemTitle {font-size: 28px; font-weight: bold;}
.itemDesc {padding: 12px 0px 32px 0px; line-height: 24px;}
.item {background-repeat: no-repeat;padding-left: 180px; min-height: 160px; background-size: 150px;}


/* FAN ART */
/* ---------------------------------------------------------------- */
#artWrapper img {width: 100%;}

/* FOOTER */
/* ---------------------------------------------------------------- */
footer {font-size: 13px; color: #AEC126; padding: 38px 280px 0px 280px;}
footer a, footer a:visited, footer a:active {color: #AEC126; font-weight: 700; border: none;}












